.s1{
    text-shadow: 2px 2px 8px black;
    
}

.back{
   background: url(./Images/background.jpg) ;
   background-repeat: no-repeat;
   background-size: contain;
}

.background{
    background: url(./Images/contactus.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
   
 }
